.container {
    background: #fff;
    padding: 0px;
    margin-bottom: 0px;

}

p, h1, h2, h3 {
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
}
ul {
    list-style: none;
}

h1, h2, h2, h4 {
    padding-left: 20px;
    color: rgb(0, 112, 192);
}


.content-box a {
    border: 2px solid green;
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px;
    text-decoration: none;
    background: rgb(34, 59, 129);
    color: white;
    font-size: 1.2em;
}

span:first {
    color: rgb(6, 134, 38);
}

footer p {
    margin-left: 0px;
}

footer  {
    margin: 0px;
}